
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/****** fonts */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/******fonts*/

body {
    display: flex;
    justify-content: center;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 18px 10vw;

}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.header-links li {
  padding-left: 18px;
}